/* 
    font-family: 'Roboto', sans-serif;
    font-size: 35px;

    font-family: 'Droid Serif', serif;
    font-size: 15px;
*/

.MoSelf-1-hex {
    color: #0f5c47;
}
.MoSelf-2-hex {
    color: #67e0c0;
}
.MoSelf-3-hex {
    color: #23dbaa;
}
.MoSelf-4-hex {
    color: #2a5c4f;
}
.MoSelf-5-hex {
    color: #1ba883;
}

html {
    font-family: "Droid Serif", serif;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
}

main {
    margin: 0 5rem;
}

a {
    text-decoration: underline;
    transition: 0.1s ease-in-out;
}

a:hover {
    font-size: 110%;
}

.check-box {
    margin-right: 0.25rem;
}

.data-field:hover {
    cursor: text;
}

.check-box:hover {
    cursor: pointer;
}

/* NavBar */

nav {
    position: fixed;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 100%;
    padding: 1rem;

    background-color: #67e0c0;
}

nav img {
    justify-self: start;
    align-self: center;
    
    margin-left: 1rem;
    
    max-width: 10rem;
    height: auto;
}

nav ul {
    justify-self: end;
    align-items: center;

    margin-right: 1rem;

    width: 15rem;
    height: auto;

    display: inline-flex;
    justify-content: space-around;
}

/* Hero */

.hero {
    width: 100%;
    height: 35rem;

    background-image: url("images/NoteBooks.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main Grid Setup */

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* containers handle columns */

    /* row-gap: 5rem; */
}

/* About Us */

#about-us {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

#about-us h2 {
    justify-self: center;
    align-self: center;
}

#about-us .support-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#about-us .support-container .support-text {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#about-us .support-container .support-text ul {
    list-style-type: disc;

    line-height: 1.6;

    justify-self: center;
    align-self: center;
}

#about-us .support-container ul .list-title {
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

#about-us .support-container .support-text p {
    line-height: 1.6;

    align-self: flex-start;
    justify-self: center;

    /* CHECK! May cause problems with resizing due to container size changing. CHECK! */
    max-width: 50%;
    min-width: 30%;
}

#about-us .support-container img {
    width: 100%;
    height: auto;

    align-self: center;

    border-radius: 1rem;
}

/* Join */

#join {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#join h2 {
    justify-self: center;
}

#join .join-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#join .why-join {
    display: grid;
    grid-template-rows: 1fr 6fr;
    justify-items: center;
}

#join .why-join .row {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/* Inside why-join */

#img-medal {
    width: 10rem;
    height: auto;
}

#img-target {
    width: 10rem;
    height: auto;
}

#img-stopwatch {
    width: 9rem;
    height: auto;
}

#join .join-container .why-join p {
    text-align: center;
}

#join .figure-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-content: center;
}

#join .row {
    justify-content: space-around;
}

#join .figure-container img {
    margin-top: 5rem;
    justify-self: center;
    text-align: center;
}

#join .figure-container p {
    margin-top: 2rem;
    justify-self: center;
    text-align: center;
}

/* Sign Up */

.sign-up {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    justify-content: center;
}

.sign-up h2{
    justify-self: center;
}

.sign-up .data-field {
    border: 1px solid black;
    background-color: white;

    width: 20rem;
    height: 1.5rem;
}

.sign-up .check-box {
    border: 1px solid black;
    width: 1rem;
    height: 1rem
}

.sign-up .text-fields figure {
    margin: 0.4rem;
}

.sign-up .check-boxes .figure-inline {
    display: flex;
}

.sign-up .check-boxes {
    margin-top: 1rem;
}