/* 
    font-family: 'Roboto', sans-serif;
    font-size: 35px;

    font-family: 'Droid Serif', serif;
    font-size: 15px;
*/

.MoSelf-1-hex {
    color: #0f5c47;
}
.MoSelf-2-hex {
    color: #67e0c0;
}
.MoSelf-3-hex {
    color: #23dbaa;
}
.MoSelf-4-hex {
    color: #2a5c4f;
}
.MoSelf-5-hex {
    color: #1ba883;
}

html {
    font-family: "Droid Serif", serif;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
}

main {
    margin: 0 5rem;
}

a {
    text-decoration: underline;
    transition: 0.1s ease-in-out;
}

a:hover {
    font-size: 110%;
}
/* NavBar */

nav {
    position: sticky;
    top: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 100%;
    padding: 1rem;

    background-color: #67e0c0;
}

nav img {
    justify-self: start;
    align-self: center;
    
    margin-left: 1rem;
    
    max-width: 10rem;
    height: auto;
}

nav ul {
    justify-self: end;
    align-items: center;

    margin-right: 1rem;

    width: 15rem;
    height: auto;

    display: inline-flex;
    justify-content: space-around;
}

nav ul li {
}

/* Hero */

.hero {
    width: 100%;
    height: 35rem;

    background-image: url("images/NoteBooks.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main Grid Setup */

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* containers handle columns */

    row-gap: 5rem;
}

/* About Us */

#about-us {
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#about-us h2 {
    justify-self: center;
    align-self: center;
}

#about-us .support-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#about-us .support-container .support-text {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#about-us .support-container .support-text ul {
    list-style-type: disc;

    line-height: 1.6;

    justify-self: center;
    align-self: center;
}

#about-us .support-container ul .list-title {
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

#about-us .support-container .support-text p {
    line-height: 1.6;

    align-self: flex-start;
    justify-self: center;

    /* CHECK! May cause problems with resizing due to container size changing. CHECK! */
    max-width: 50%;
    min-width: 30%;
}

#about-us .support-container img {
    width: 100%;
    height: auto;

    align-self: center;

    border-radius: 1rem;
}

/* Join */

#join {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#join h2 {
    justify-self: center;
    align-self: center;
}

#join .join-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#join .join-container .why-join {

}

#join .join-container .sign-up {
    
}